## Node
node_modules
npm-debug.log*
.npm

## Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

## Logs
logs
*.log

## IDE
*.sublime-workspace

# OS
*.lnk

## Windows
$RECYCLE.BIN/
desktop.ini
Thumbs.db
ehthumbs.db

## macOS
*.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes